<!DOCTYPE html>
<html lang="en">
    <head>
        {{!-- META TAGS --}}
        <meta charset="UTF-8">
        <meta name="description" content="Node" />
        <meta name="author" content="carla beltran" />
        <meta http-equiv="X-UA-Compatible" content="ie=Edge" />
        {{!-- RESPONSIVE --}}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{!--  WEB PAGE TITLE --}}
        <title>Eat Da Burger!</title>
        {{!-- CSS LINK --}}
        <link rel="stylesheet" type="text/css" href="./public/css/burger_style.css">
        {{!--  LINK FOR GOOGLE FONTS --}}
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
        {{!-- LINK FOR BOOTSTRAP CDN --}}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {{!-- FONT AWESOME  --}}
        
        {{!-- JQUERY --}}
        <script src="https://code.jquery.com/jquery.js"></script>
        {{!-- JAVASCRIPT --}}
        <script src="/public/js/burger.js"></script>
    </head>
    <body>
        {{{ body }}}
    </body>
</html>